<html>
<body>
    <h2>Lets add a Quote:</h2>
    <form action="/newquote" method="POST">
        <table>
            <tr>
                <td>Name:</td><td><input type="text" name="name"></td>
            </tr>
            <tr>
                <td>Quote: </td><td><input type="text" name="quote"></td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Add Quote">
                </td>
            </tr>
        </table>
        <p> Or, <a href="/quotes"> skip to quotes. </a></p>
</body>
</html>