<html>
<body>
    <h2>Lets add a Pokemon:</h2>
    <form action="/pokemon" method="POST">
        <table>
            <tr>
                <td>Name:</td><td><input type="text" name="name"></td>
            </tr>
            <tr>
                <td>Species: </td><td><input type="text" name="species"></td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Add Pokemon">
                </td>
            </tr>
        </table>
</body>
</html>